/** PRIMIERLY TEXT COLORS **/

input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    color: var(--t-black) !important;
}

.info-not-shared__helplink,
.osmosis-toggle__helplink,
.pe-contact-info-form__external-link,
.visibility-setting__trigger-content {
    color: var(--color-action) !important;
}

.premium-mp-insights__bottom-link {
    color: var(--color-action-2) !important;
}

.pe-form-field__error-message,
.artdeco-inline-feedback--error,
.theme--mercado .fb-form-element__error-text {
    color: var(--form-error) !important;
}

.pv-skill-entity__highlight-link:hover,
.feed-shared-event__description span li-icon,
.msg-premium-mailboxes__external-link-icon,
.msg-overlay-list-search__search-icon,
.msg-overlay-list-bubble__filters-btn,
.mn-invitation-manager__no-invite-text,
.mn-invitation-manager__header button > li-icon,
.products-reviews-card__reviews-container button > li-icon,
.pv-skill-entity__highlight-text .pv-skill-entity__highlight-link,
.pv-skill-entity__highlight-text,
.org-admin-right-rail-tab__create-btn,
.org-audience-filter__toggle-icon,
.organization-outlet .org-analytics__dropdown-trigger li-icon,
li-icon.img-edit-button__action-icon,
.org-typeahead-input__typeahead-result dd,
.hashtag-result-item-class,
.feed-shared-promo-v1__close-button,
.search-global-typeahead__hit-image li-icon,
.jobs-search-box__typeahead-suggestion,
.share-media-button__label--square,
button.publishing-dropdown__trigger li-icon.artdeco-dropdown__trigger-icon,
.storyline-update .comments-post-meta__distance-badge,
.artdeco-pagination__indicator--dot.selected,
.artdeco-pagination__indicator--dot.selected:focus,
.artdeco-pagination__indicator--dot.selected:hover,
.search-results-container .entity-result__insights,
.pv-certification-entity .pv-certifications-entity__credential-link,
.pv-profile-detail__nav-link:not(.active):visited,
.pab-featured-item__card-container .pv2,
.pv-treasury-list-preview__rollup,
.EntityLockup-circle-2 dd:not(.badge),
.mn-abi-form-v2__go-back-btn.active,
.video-detour-settings li-icon,
.jobs-commute-module__company-location li-icon,
.jobs-commute-module__depart-time-trigger li-icon,
.resume-builder-resume-list-modal__sub-heading.resume-builder-resume-list-modal__sub-heading,
.feed-following-filter__main-btn,
.reader-flag-content,
a[data-control-name="edit_skills_add"].pv-skills-section__add-text,
button.remove-attachment li-icon,
.org-funding__hover-external-link-icon,
.organization-outlet .org-overflow-menu__trigger-icon,
.share-job-error-state__error-link,
.theme--mercado .sar-job__save-icon,
.artdeco-dropdown__trigger.artdeco-dropdown__trigger--placement-top,
.theme--mercado .jobs-talent-highlight-skill-assessments-intro-page-description-icon,
.jobs-poster--reformatted .jobs-poster__title,
li-icon[type="question-pebble-icon"],
.premium-mp-drawer li-icon,
.jobs-details-top-card__bullet,
.jobs-details-top-card__bullet::before,
.org-page-navigation__item-anchor:not(.active),
.comments-comment-item__timestamp,
.comments-comment-item__replies-list .comments-reply-item .comments-comment-item__timestamp,
.entity-hovercard__insight-icon,
.sort-dropdown__icon,
.pv-profile-info-section-button__button-icon,
.time-ago,
.me-wvmp-pills-tab__icon,
.me-wvmp-pills-tab-carousel__button,
.welcome-flow-greeting-card__subtitle,
.groups-requests__info,
.follows-recommendation-card__follow-btn.is-following,
.community-panel-interest-package__event-cta.community-panel-interest-package__event-cta,
.pv-skill-category-skill-entity__delete-button,
.pv-skill-entity__handle,
.pv-contact-info__contact-icon,
.pv-skill-category-skill-entity__delete-button,
.pv-skill-entity__handle,
.pv-top-card__distance-badge .distance-badge,
.community-panel-interest-package__cta,
.community-panel-interest-package__event-cta.community-panel-interest-package__event-ctam,
.community-panel-interest-package__entity-link.community-panel-interest-package__entity-link,
.social-details-social-counts__item,
.social-details-social-counts__item:not(:last-child):not(.social-details-social-counts__reactions--with-social-proof):after,
.social-details-social-counts__item:not(:last-child):not(.social-details-social-counts__reactions--with-social-proof):after {
    color: var(--t-black-light) !important;
}

.ql-picker-item,
.launchpad-community-connect .launchpad-card__title,
.msg-premium-mailboxes__link,
.msg-premium-mailboxes__link:visited,
.feed-shared-call-to-action__link,
dt h3,
.table td,
.org-typeahead-input__typeahead-result h3,
.org-edit-modal__table-action-btn,
.striped-table td,
.striped-table th,
.feed-shared-promo-v1__title,
.artdeco-entity-lockup__content span,
.search-reusables__vertical-select-trigger,
.org-insights-messages-module__module-name,
.smart-hovercard-container .bottom-smart-hovercard,
.smart-hovercard-container .left-smart-hovercard,
.smart-hovercard-container .right-smart-hovercard,
.smart-hovercard-container .top-smart-hovercard,
.entity-result__summary strong,
.mn-invitation-notifications-modal__headline a,
.jobs-premium-null-state__num-applicants,
.jobs-premium-null-state__details,
.jobs-premium-null-state__title,
.msg-title-bar__title-bar-text,
.jobs-details-premium-insight--rank-title-obfuscated .jobs-details-premium-insights__rank-title-highlight,
.jobs-details-premium-insight--skill-subtitle-obfuscated,
.jobs-details-premium-insight--rank-title-obfuscated,
.jobs-upsell__feature-description,
.jobs-upsell__header,
.share-creation-state__comment-controls-tooltip.ui-inline-tooltip,
a.artdeco-toast-item__cta,
a.artdeco-toast-item__cta:hover,
a.artdeco-toast-item__cta:visited,
a.artdeco-toast-item__cta:visited:hover,
.publishing-dropdown__trigger span,
.org-page-navigation__item-anchor:not(.active):hover,
.share-generic-list__item--active,
.pe-form-header__title,
.job-card-container__company-name,
.job-card-container__company-name:visited,
.artdeco-modal__header h2,
.photo-filter__footer-button,
.community-panel__discover-cta,
.jobs-premium-applicant-insights__applicant-rank-inner-circle,
.jobs-box__title,
.jobs-premium-applicant-insights__top-locations-number,
.jobs-top-applicant-job-card__rank-text--highlight,
.entity-result__title-text--black a,
.entity-result__title-text--black a:visited,
.visibility-option__title-text,
#thread-detail-jump-target,
.msg-s-profile-card .li-i18n-linkto,
.msg-s-profile-card .li-i18n-linkto:hover,
.msg-s-profile-card .profile-card-one-to-one__profile-link,
.msg-s-profile-card .profile-card-one-to-one__profile-link:hover {
    color: var(--t-black) !important;
}
.nt-card__text--3-line span,
.org-notable-alumni-card__alumni-company,
.comments-post-meta__author-badge,
.nt-card__text--3-line:hover,
.comments-post-meta__name,
.org-insights-premium-dropdown__option-button,
.theme--mercado .msg-connections-typeahead__search-field[type="text"],
.navigational-filter-dropdown__list-item.navigational-filter-dropdown__list-item--selected,
.pv-top-card--list-bullet > :not(:last-child)::after,
.ql-picker-label,
.post-editor .ql-editor h3,
.post-editor .ql-editor h2,
.post-editor .ql-editor ol,
.post-editor .ql-editor p,
.post-editor .ql-editor ul,
.post-editor .ql-editor > div .ql-picker-label,
.vb-visibility-dropdown__otw-trigger,
.org-life-target-selection-tabs__tab-text,
.msg-form__msg-content-container .msg-form__contenteditable p,
.msg-spinmail-thread__legal-text a,
.search-global-typeahead__search-home-hit-icon,
.msg-s-event-listitem__body {
    color: var(--color-text) !important;
}

.msg-premium-mailboxes__mailbox,
.pv-profile-section__card-item-v2::after,
.pv-profile-section__card-item::after,
.sar-report__title,
.theme--mercado .cover-image,
.feed-shared-update-v2__lead-gen-cta-button,
.feed-shared-aggregated-content__list-item,
.feed-shared-contextual-header--with-divider,
.mn-connection-card,
.mn-summary-card-notification,
.abi-saved-contacts__header,
.abi-saved-contacts-row__details,
.abi-saved-contacts__header-toolbar,
.colleagues-tab-nav__nav,
.colleagues-relationship-group,
.msg-conversation-listitem__link .msg-overlay-list-bubble__convo-card-content,
.msg-spinmail-thread__message-header,
.msg-message-request-list-header,
.msg-connections-typeahead__search-result .msg-connections-typeahead__entity-description,
.msg-connections-typeahead__added-recipients,
.msg-conversation-card__content--selectable,
.msg-title-bar__title-bar-title,
.msg-conversations-container__title-row {
    border-bottom: 1px solid var(--color-border-faint) !important;
}

.job-card__footer::before,
.jobs-see-all-connections__referral-textarea-container,
.comments-content-description,
.pds-ge-entry-card__entry-button--default,
.pds-pcm-todo-list__list,
.pv-recommendation-entity:not(:first-child),
.feed-shared-mini-update-v2__reshared-content.feed-shared-entity,
.reader-ugc-post-bar,
.sar-job__footer::before,
.job-card-container__footer-wrapper::before,
.feed-shared-carousel-job__footer::before,
.interview-prep-learning-content-item__bottom-bar,
.interview-prep-side-rail-promo__footer,
.interview-prep-question-list-item__question,
.jobs-company__content,
.jobs-company__footer,
.msg-form__footer,
.msg-character-limit-banner,
.msg-group-form__action-buttons-container,
.msg-group-form__bottom-fixed-section {
    border-top: 1px solid var(--color-border-faint) !important;
}

.jobs-premium-course-recommendations-upsell__container:last-child,
.search-reusables__filter-vertical-divider,
.comments-comment-social-bar__vertical-divider,
.msg-thread {
    border-left: 1px solid var(--color-border-faint) !important;
}

.abi-saved-contacts-detail-modal__footer,
.abi-saved-contacts-modal-content__info,
.abi-saved-contacts-modal-content__details,
.msg-s-event-listitem__image-container,
.storyline-update__comment-update-content-container,
.storyline-update__comment-update-content-header,
.org-jobs-job-search-form-module--prominent .org-jobs-job-search-form-module__typeahead-input,
.pv-endorsement-followup__body,
.artdeco-stepper__item-node,
.news-storyline__update-overlay,
.storyline-update,
.legacy-switcher-body__cell,
.legacy-switcher-body__header {
    border-color: var(--color-border-faint) !important;
}

.artdeco-pagination__indicator--dot.selected > button,
.artdeco-pagination__indicator--dot:not(.selected) > button {
    border-color: var(--t-black-light) !important;
}

.artdeco-stepper__item--progress .artdeco-stepper__item-node {
    border-color: var(--color-checked) !important;
}

.feed-shared-image__alttext-nux,
.pv-skills-prompt__canditate-button:hover,
.jobs-search-inline-suggestions-card .artdeco-pill--link,
.org-tracked-companies-table__table-header,
.org-update-engagement-table__table-header,
.organization-outlet .org-analytics-time-series-chart__legend-container,
.org-empty-state__cta:focus,
.org-empty-state__cta:hover,
.artdeco-typeahead__result:hover,
.artdeco-typeahead__result--highlighted,
.basic-typeahead__selectable--hover .jobs-search-box__typeahead-suggestion,
.share-media-button__label--square:hover,
.news-storyline__update-overlay,
.org-insights-premium-dropdown__option:hover,
.entity-result__embedded-object,
.theme--mercado .jobs-list-feedback,
.org-life-module__container--bubble,
.org-life-module__text-container,
.organization-outlet .org-locations-module__location-card:last-child,
.sa-assessment-quiz__feedback,
.sa-assessment-quiz__response,
.global-nav__a11y-menu,
.interview-prep-welcome-modal__notifications,
.pe-background-image-section-header__icon,
.navigational-filter-dropdown__list-item.navigational-filter-dropdown__list-item--selected,
.premium-mp-top-nav,
.legacy-switcher-body__callout-header,
.fb-vector-media__input-wrapper,
.emoji-hoverable__categories,
.msg-spinmail-thread__top-banner,
.msg-conversations-container__convo-item-link.active,
.nt-settings-summary,
.msg-s-event-listitem__attachment-item:hover {
    background-color: var(--voyager-color-background-container-tint-2) !important;
}

.msg-s-thread-actions-tray__item,
a.view-more,
button.view-more,
.me-wvmp-main__header-minimal,
.reusable-search-show-more-link.reusable-search-show-more-link,
.mn-settings__modal,
.comments-post-meta__author-badge,
.right-rail .ad-banner-container,
.org-similar-pages-carousel::before,
.org-similar-pages-carousel__company-card-logo,
.org-top-card-listing,
.org-top-card-listing__logo:not(.ghost-company),
.org-similar-pages-company-connections__relevance-icon,
.org-similar-pages-carousel,
.pv-endorsement-followup__select,
.pv-endorsement-followup__radio-button.pv-endorsement-followup__radio-button label,
.theme--mercado .jobs-search-results__full-bordered-content,
.search-reusables__filters-bar-grouping.mh4,
.org-logo-input__file-input-background,
.basic-typeahead__selectable--active .jobs-search-box__typeahead-suggestion,
.org-life-feed-gallery__container,
.feed-shared-article__lockup,
.mn-abi-form__container,
.reader-author-info__container,
.reader-social-bar-v2,
article.reader__content,
.jobs-premium-course-recommendations-upsell,
.jobs-premium-applicant-insights-obfuscated-socialproof-upsell,
.sa-assessment-quiz__footer,
.sa-assessment-quiz__footer-v2,
.launchpad-card--is-selected:before,
.entity-list-item,
.me-wvmp-viewer-card,
.org-page-create-header,
.ql-picker-options,
.slate-container,
.pv-recommendations__personalize-card,
.theme--mercado .pe-hub-drawer__expand-button,
.msg-compose-container__spacer,
.feed-shared-mini-update-v2,
.msg-s-profile-card.msg-s-profile-card-one-to-one,
.jobs-blended-container__module--premium,
.jobs-premium-applicant-insights__applicant-rank-inner-circle,
.interview-prep-learning-content-item__bottom-bar,
.resume-builder-resume-list-modal__format-disclaimer,
.resume-builder-top-nav,
.conversations-quick-replies,
.msg-form__attachment-preview.msg-attachment-preview,
.msg-s-message-list,
.msg-spinmail-thread__message,
.msg-spinmail-thread__message-header,
.msg-connections-typeahead__inplace-search-results,
.msg-connections-typeahead__added-recipients,
.msg-message-request-list-header,
.msg-bulk-actions-panel,
.feed-follow-nav,
.abi-saved-contacts__header,
.mn-connection-card::after,
.mn-connection-card__picture {
    background-color: var(--color-background-container) !important;
}

.ql-tooltip .ql-link-editor,
.theme--mercado .premium-chooser__welcome-header,
.org-admin__sticky-nav,
.org-tracked-companies-table__your-company-row,
.feed-follow-nav,
.search-marvel-srp__navbar.container-with-shadow,
.search-filters-bar__collapsed-state--expand,
// .search-reusables__filters-bar-grouping:not(.mh4),
// .search-reusables__filters-bar-grouping:not(.ml2),
.search-reusables__filters-bar-grouping,
.publishing-zen-nav,
.org-sticky-top-card--is-showing,
.pv-profile-sticky-header--is-showing {
    background: var(--sticky-header) !important;
}

.organization-outlet .org-company-performance-card__cta-upsell-container,
.jobs-expert-resume-review-modal__one-pane-price-container,
.launchpad-card--is-grayed-out,
.publishing-dropdown__dropdown::after,
.post-toolbar__button-group::after {
    background: var(--color-border-faint) !important;
}

.theme--mercado .pv-profile-detail__nav-link:hover {
    color: var(--color-checked-2) !important;
}

.organization-outlet .org-page-progress-bubble__success-icon,
.org-onboarding-guided-items-checklist__item--completed,
.interview-prep-question-list-item--selected .interview-prep-question-list-item__question-index,
.interview-prep-question-list-item__icon--complete,
.interview-prep-question-list-item--selected .interview-prep-question-list-item__question-text,
.sar-job__new-tag,
.me-wvmp-views__percentage,
.me-wvmp-views__percentual-text--positive {
    color: var(--color-checked) !important;
}

.interview-prep-question-list-item::before {
    background-color: var(--color-checked) !important;
}

.org-jobs-job-search-form-module__search-icon,
.publishing-post-toolbar__button:not(:hover) {
    color: var(--color-background-container) !important;
}

.search-reusables__filters-bar-grouping.mh4,
.search-reusables__filters-bar-grouping.ml2 {
    background-color: var(--color-background-container) !important;
}
